li {
   list-style: none; 
}





/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:701px) {
    li.icon {display: none;}
    
#about {
    transform: rotate(90deg);
	transform-origin: left top 0;
    margin-left: 2%;
}
#shop{
     transform: rotate(90deg);
	transform-origin: left top 0;
    position:absolute;
    bottom: 100;
    margin-left: 2%;
}

#news {
    
    transform: rotate(90deg);
	transform-origin: left top 0;
     position:absolute;
    top: 5;
    left: 98%;
    
}
#contact {
    
    transform: rotate(90deg);
	transform-origin: left top 0;
     position:absolute;
    bottom: 10%;
    left: 90%;
    
}
	
   



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:700px) {
 
    #contact #news #about #shop {
        
        font-size: 1em;
        left: 10%;
        top: 20%
    }

} 
